
body {
  font-family: 'Roboto Condensed', sans-serif;
  /* background-image: url('https://www.stockvault.net/data/2012/10/27/136917/thumb16.jpg'); */

  background-image: url('http://longwallpapers.com/Desktop-Wallpaper/ocean-wallpapers-1080p-For-Desktop-Wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background: linear-gradient(to bottom, #FB936C 0%, #c7bcf2 100%); */
  /* background: #FBA100; */
  color: white;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 5em 0em 2em;
  /* background: linear-gradient(to bottom right, #02C39A 0%, #bbb3fc 80%); */
  background: transparent;
  /* background: #E8E6DF; */
  /* border-bottom: 1px solid rgba(150,150,150,.6); */
  /* box-shadow: 0 -1em 2em 1em rgba(172, 39, 34, 0.1) inset; */
}

h1 {
  display: inline-block;
  margin-bottom: .2em;
  font-family: 'Shrikhand', cursive;
  font-size: 3em;
  letter-spacing: .08em;
  /* background: linear-gradient(to right, #52017d 0%, #905dee 100%); */
  background: linear-gradient(to right, #c6cf20 0%, #eff93d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #CFDB31;
  text-shadow: .1em .12em .15em rgba(0,50,0,.1);
  transition: all .5s;
}

h2 span {
  color: #A13DF9;
}

li {
  list-style-type: none;
  margin-left: 3em;
}

form button {
  padding: 1em;
}

form input {
  outline: none;
}

.body-wrapper {
  background: linear-gradient(to bottom, rgba(52, 211, 238, 0.5) 0%, rgba(124, 235, 254, 0.2) 100%);
}

.profile {
  display: grid;
  grid-template-columns: 8vw 1fr 8vw;
  grid-template-rows: 20vh 1fr;
}

.profile-inner-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hey-wrapper {
  font-size: 1.2em;
}

.board-wrapper {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-image: url('https://www.publicdomainpictures.net/pictures/30000/velka/cork-board.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* box-shadow: 0 0 4em rgba(251, 161, 0, 0.6); */
  border: .6em solid #85643E;
  border-radius: .5em;
}

.board {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  position: relative;
  /* background: rgba(87, 55, 0, .3); */
  background: rgba(182, 162, 159, 0.2);
  min-height: 70vh;
  min-width: 80vw;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 0 2.7em .1em rgba(0,0,0,.6) inset;
}

.flexbox-nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.3em;
}

.flexbox-nav a {
  color: white;
  transition: all .5s;
}

.flexbox-nav li {
  transform-origin: bottom;
  transition: all .5s;
}

.flexbox-nav li:hover {
  transform: scale(1.1, 1.5);
}

.flexbox-nav a:hover {
  color: #eff93d;
  text-shadow: 0 1em .15em rgba(0,0,0,.3);

}

.profile h2 {
  display: inline-block;
  font-family: 'Shrikhand', cursive;
}

.profile p {
  display: inline-block;
  font-size: 1.2em;
  font-family: 'Roboto Condensed', sans-serif;
  padding-left: .4em;
}

.drag {
  display: inline-block;
  position: absolute;
  min-height: 110px;
  min-width: 110px;
  cursor: grab;
  background: rgb(251, 244, 134);
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 5px 7px rgba(0,0,0,.3);
  transition: box-shadow .3s;
  opacity: 0;
  animation: appear .5s forwards;
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

.drag:active {
  cursor: grabbing;
  box-shadow: 0 3px 13px 3px rgba(0,0,0,.5);
}

.drag-inner {
  display: flex;
  justify-content: center;
  padding-top: 8px;
}

.sticky-x {
  color: #5F08AC;
}

.drag .text {
  color: #A13DF9;
}

.fa-plus-circle {
  font-size: 2.5em;
  color: #eff93d;
  transition: all .5s;
  margin-left: .3em;
}

.fa-plus-circle:hover {
  transform: scale(1.4) rotate(180deg);
}

#add-sticky-wrapper {
  /* background: rgba(172, 39, 34, 0.5); */
  background: rgba(161, 61, 249, 0.6);
  padding: .3em 1em;
  align-self: flex-end;
  border-radius: 1em 1em 0 0;
  border: 2px solid rgba(120, 36, 194, 0.6);
  border-bottom: none;
  box-shadow: 0 0 .8em rgba(0,0,0,.3);
  z-index: 10;
}

#add-sticky-form label {
  margin-right: 1em;
  color: white;
}

#add-sticky-form input {
  background: white;
  border: none;
  font-size: 1.3em;
  color: #A13DF9;
}

#add-sticky-form button {
  background: none;
  border: none;
  outline: none;
}

@media only screen and (max-width: 812px) {

  header {
    padding: 0 .6em;
  }

  .flexbox-nav {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
  }

  .profile {
    grid-template-columns: 10px 1fr 10px;
  }

  .profile-inner-wrapper  {
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: baseline;
  }

  #add-sticky-wrapper {
    padding: 0 .1em;
  }

  #add-sticky-form input {
    max-width: 7em;
  }

} /* end of @media screen max width 812 */
